.bank-container{
    display: flex;
    flex-direction: column;
    width:20vw;
    /* min-height: 80vh; */
    

}
.bank{
    display: flex;
    /* height:fit-content; */
    height: auto;
    min-height: 10vh;
    width:100%;
    justify-content: space-evenly;
    background-color: #6D7B6C;
    margin-bottom: 0.2em;
    color: white;
    align-items: center;
    /* font-size: clamp(0.8rem, 0.6250rem + 1.1200vw, 1.5rem); */
    font-weight: 700;
    /* position: relative; */
    flex-direction: column;
}
.bank-btn{
    background-color: #6D7B6C;
    border: none;
    cursor: pointer;
}
.foot{
    width:20vw;
    height:45px;
    background-color:  #07133C;
}
.deposits-0 ,.deposits-1,.deposits-2,.deposits-3,.deposits-4,.deposits-5,.deposits-6{
    /* position: absolute; */
    background-color: #D9D9D9;
    color:black;
    font-size: 1rem;
    /* top:70px; */
    /* left: 0; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height:233px;
    justify-content: space-evenly;
}
.deposit-el{
    height:60px;
    border-bottom: 1px dashed #000000 ;
    padding-left:10%;
}
.bname{
    font-size:clamp(0.5rem, 0.1250rem + 1.7600vw, 1.5rem);
    word-break:keep-all;
}
.bank-head{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin:0.5em 0 0.5em;
}
@media screen and (max-width:794px){
    .bank-container{
        flex-direction: row;
        width: 100vw;
        height: 10vh;
        min-height: fit-content;
        justify-content: space-evenly;
        background-color: #6D7B6C;
    }
    .bank{
        position: relative;
        height: 100%;
        width: 12%;
        flex-direction: column;
        /* justify-content: flex-start;
        align-items: flex-start; */
        justify-content: space-between;
        font-size: 1.2rem;
        /* padding-left: .1em; */
        flex-wrap: wrap;

    }
    .deposits-0 ,.deposits-1,.deposits-2,.deposits-3,.deposits-4,.deposits-5{
        z-index: 100;
        width:30vw;
        position: absolute;
        top:10vh;
        left:0;
        height: 90px;
    }
    .deposits-6{
        z-index: 100;
        width:30vw;
        position: absolute;
        top:10vh;
        left:-70px;
        height: 90px;
    }
    .deposits-5{
        left: -10px;
    }
    .foot{
  display: none;
    }
    .bank-btn{
        height: 40%;
        position: absolute;
        top:55%
    }
    .bank-btn i{
        height: 100%;
    }
    .deposits{
        width: 40vw;
        top: 7vh;
        height: 100px;
    }
    .bname{
        margin-top: 0.5em;
    }
}